            @import url('https://fonts.googleapis.com/css2?family=Itim&family=Mukta&family=Niconne&family=Pacifico&family=Poppins:wght@500&family=Raleway:ital@1&family=Ubuntu&display=swap');
            * {
                margin: 0;
                padding: 0;
            }
            
            header {
                width: 1040px;
                background-color: rgb(22, 22, 22);
                color: white;
                border-radius: 30px;
                margin: 20px auto;
            }
            
            body {
                font-family: 'Itim', cursive;
                font-family: 'Mukta', sans-serif;
                font-family: 'Niconne', cursive;
                font-family: 'Pacifico', cursive;
                font-family: 'Poppins', sans-serif;
            }
            
            .container {
                width: 1040px;
                display: flex;
            }
            
            .text {
                width: 50%;
                margin: 50px;
            }
            
            .text h1 {
                font-size: 60px;
                margin: 0 10px;
                line-height: 70px;
            }
            
            .text a {
                text-decoration: none;
                color: white;
                background-color: rgb(255, 45, 45);
                padding: 10px 20px;
                border-radius: 5px;
            }
            
            .pic img {
                margin-top: 50px;
                margin-right: 50px;
                width: 400px;
                height: 450px;
            }
            
            main {
                width: 1040px;
                display: flex;
                margin: 20px auto;
            }
            
            aside {
                margin-right: 20px;
                margin-left: 0;
            }
            
            .btns {
                background-color: rgb(22, 22, 22);
                border-radius: 10px;
                padding: 5px 10px;
            }
            
            .btns .btn {
                background-color: white;
                border-radius: 5px;
                height: 40px;
                width: 180px;
                margin: 20px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            #btn {
                background-color: rgb(255, 53, 53);
            }
            
            #btn a {
                color: white;
            }
            
            .btns .btn a {
                text-decoration: none;
                color: black;
            }
            
            section {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
                /* margin: auto 20px; */
            }
            
            .talk {
                width: 250px;
                border-radius: 10px;
                border: 1px solid rgb(232, 232, 232);
            }
            
            .talk img {
                width: 100%;
            }
            
            .talk h5 {
                margin: 5px;
                padding: 2px;
            }
            
            .talk a {
                margin: 10px;
                text-decoration: none;
                color: rgb(46, 46, 46);
                border: 1px solid rgb(51, 51, 51);
                padding: 5px 10px;
                border-radius: 5px;
            }
            
            .talk div {
                display: flex;
                justify-content: space-around;
                color: rgb(110, 110, 110);
            }
            
            .view-btn {
                display: flex;
                justify-content: center;
                margin: 20px auto;
                padding: 10px;
                visibility: hidden;
            }
            
            button {
                color: #fff;
                background-color: rgb(255, 20, 20);
                padding: 10px 15px;
                border-radius: 5px;
                border: none;
            }
            
            footer {
                width: 100%;
                margin: 20px auto;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(22, 22, 22);
                height: 350px;
            }
            
            footer h1 {
                color: #fff;
                font-size: 40px;
                text-align: center;
            }
            
            hr {
                width: 90vw;
                border-color: rgb(47, 47, 47);
            }
            
            .foot-info {
                color: rgb(147, 147, 147);
                display: flex;
                justify-content: center;
            }
            
            .foot-info p {
                margin: 0 25px;
            }
            
            .links ul {
                font-size: 25px;
                margin: 5vw;
                list-style: none;
                display: flex;
                justify-content: center;
            }
            
            .links ul .tweet {
                margin: 0 2vw;
            }
            
            @media only screen and (max-width: 768px) {
                * {
                    margin: 0;
                    padding: 0;
                }
                header,
                .container {
                    width: 100%;
                }
                .text {
                    margin: 20px;
                }
                main {
                    width: 100%;
                    display: block;
                }
                aside {
                    width: 100%;
                }
                .btns {
                    display: flex;
                    justify-content: center;
                    background-color: rgb(198, 212, 215);
                }
                section {
                    margin: 10px auto;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    justify-content: center;
                }
                .talk {
                    width: 80%;
                    margin: 0 33px;
                }
                .view-btn {
                    visibility: visible;
                }
                hr {
                    width: 700px;
                }
                .foot-info p {
                    font-size: 12px;
                    margin: 0 10px;
                }
            }
            
            @media only screen and (max-width: 480px) {
                body {
                    width: 100%;
                }
                header {
                    justify-content: center;
                }
                .container {
                    margin: 0 10vw;
                    display: block;
                    justify-content: center;
                    width: 100%;
                }
                .text {
                    text-align: center;
                }
                .pic img {
                    margin-top: 30px;
                    margin: 0 10vw;
                    width: 60vw;
                    height: 110vh;
                }
                .btns {
                    margin: 25px;
                    display: block;
                    justify-content: center;
                    background-color: rgb(221, 255, 171);
                }
                .btn {
                    margin-left: 30vw;
                }
                section {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    margin: 0 5vw;
                }
                .view-btn {
                    visibility: hidden;
                }
                hr {
                    width: 80vw;
                    text-align: center;
                }
                .foot-info {
                    display: block;
                    text-align: center;
                    font-size: 15px;
                    margin: 0 10px;
                }
            }